{% extends "layout.html" %}

{% block body %}

<div class=entries>
<h3><a href="{{ url_for('recommend') }}">Necktie Knot Recommendation Services</a></h3>
<p><em>neck_web</em> will employ its state of the art sartorial analysis algorithms to recommend a tie knot for your personal needs.</p>
<h3><a href="{{ url_for('random_knot') }}">Random Necktie Knot</a></h3>
<p>Explore the undiscovered wealth of <em>neck_web</em>'s knot-tying procedures as it randomly ties a knot just for you.</p>
<h3><a href="{{ url_for('tie_a_tie') }}">Tie a Tie</a></h3>
<p>Take control of your own destiny and chart your own topological course with <em>neck_web</em>.</p>
</div>
{% endblock %}